// Heading Color
$heading: #252525;

// Text Color
$text: #636363;

// Text Dark
$text-dark: #161715;

// Text Gray
$text-gray: #625b66;

// Gray Background
$bg-gray: #f7f7f7;

// Primary Color
$primary: #fc6060;

// White Color
$white: #ffffff;

// Dark Color
$dark: #000000;

// Hover Color
$hover: #fc6060;

// Secondary Color
$secondary: #afb4bf;

// Dark 2 Color
$dark2: #0e2737;

// Border Color
$border: #ebebeb;